<div class="container top30">
  <div class="row">
    <div class="col-md-3">
      <input class="form-control" type="search" placeholder="Search" aria-label="Search" [(ngModel)]="term" (keyup)="searchArtist()"
        name="search">

    </div>
    <div class="col-md-9">

      <ul>
        <li *ngFor="let artista of service.artistas">
          {{artista.id}}
           {{artista.name}}
           -{{artista.image}}-
          {{artista.followers}}

        </li>
      </ul>

    </div>
  </div>
</div>