<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="./../../../assets/img/slide-1.jpg" alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="./../../../assets/img/slide-2.jpg" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="./../../../assets/img/slide-3.jpg" alt="Third slide">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class="container top30">
  <div class="row">

    <div class="col-md-4 text-center">
      <img src="./../../../assets/img/album.png">
      <hr>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam iure id magni rem impedit ullam dicta? Omnis dolorum
      corrupti odio consequatur ullam inventore quo ratione eaque, accusantium velit quidem dignissimos?
    </div>
    <div class="col-md-4 text-center">
      <img src="./../../../assets/img/artist.png">
      <hr>
       Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas eaque quis sunt adipisci! Quas, rerum atque natus
      culpa corrupti, quae deserunt repellendus veniam quibusdam saepe architecto molestiae eaque, mollitia nihil?
    </div>
    <div class="col-md-4 text-center">
      <img src="./../../../assets/img/music.png">
      <hr>
       Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi dolore ea fuga aut, iure aspernatur vero? Ad harum vel
      rem voluptas officia reiciendis quibusdam, beatae officiis esse? Similique, iusto repellendus!

    </div>

  </div>

</div>